.message {
  display: flex;
  justify-content: center;
  .container {
    width: 80vw;
    margin: 50px;
    .breadcrumbs {
      font-weight: 450;
      font-size: 0.8rem;
      color: #404145;

      a {
        text-decoration: none;
        color: #404145;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #404145;
          text-decoration-thickness: 1.7px;
        }
      }
    }
    .messages {
      margin: 50px 0px;
      padding: 50px 0px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-height: 10000px;
      overflow: scroll;
      scrollbar-width: none;

      .item {
        display: flex;
        gap: 20px;
        max-width: 600px;
        font-size: 18px;

        &.owner {
          flex-direction: row-reverse;
          align-self: flex-end;

          p {
            max-width: 500px;
            border-radius: 20px 0px 20px 20px;
            background-color: #f59330;
            color: white;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          max-width: 500px;
          padding: 20px;
          background-color: #ffffff;
          border-radius: 0px 20px 20px 20px;
          color: black;
          font-weight: 400;
          -webkit-box-shadow: 0px 0px 36px 0px rgba(240, 240, 240, 1);
          -moz-box-shadow: 0px 0px 36px 0px rgba(240, 240, 240, 1);
          box-shadow: 0px 0px 36px 0px rgba(240, 240, 240, 1);
        }
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(232, 230, 230);
      margin-bottom: 20px;
    }

    .write {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      textarea {
        width: 70vw;
        height: 40px;
        padding: 10px;
        border: 1px solid rgb(34, 34, 34);
        background-color: rgb(34, 34, 34);
        color: white;
        font-weight: 400;
        font-size: 1.25rem;
        border-radius: 10px;
        resize: none;
        overflow: auto;
        outline: none;
        scrollbar-width: none;
      }

      button {
        background-color: #f59330;
        padding: 20px;
        color: white;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 150px;

        &:hover {
          background-color: #ffa142;
        }
      }
    }
  }
}

//Form mobile
@media (max-width: 600px) {
  .message {
    .container {
      .breadcrumbs {
        display: flex;
      }
      .messages {
        margin-top: 0;
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
