* {
    .link {
      text-decoration: none;
      color: inherit;
    }
  }


    

    @font-face {
    font-family: 'Domaine Display Narrow Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Medium Italic'), url('./fonts/DomaineDispNar-MediumItalic.woff') format('woff');
    }
    

  
    