.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #9a530b;
  color: white;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .container {
    width: 90vw;
    display: flex;
    align-items: center;

    .left {
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title {
        h1 {
          font-size: 3rem;
          font-weight: 550;

          span {
            font-family: "Domaine Display Narrow Medium Italic" !important;
            font-size: 50px;
            font-weight: 100;
            font-style: normal;
          }
        }
      }

      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
            margin: 15px;
          }

          input {
            border: none;
            outline: none;
            font-size: 1rem;
            width: 32vw;
            height: 39px;
            color: #222325;

            &::placeholder {
              color: rgb(173, 173, 173);
              font-size: 0.95rem;
              font-weight: 400;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          font-size: 1rem;
          font-weight: 500;
          background-color: #f59330;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 0.6rem;

          &:hover {
            background-color: white;
            color: #62646a;
          }
        }
      }
    }

    .right {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 849px) {
  .featured {
    .container {
      .left {
        width: 90vw;
        justify-content: center;
        align-items: center;

        .title {
          text-align: center;
        }
      }
      .right {
        display: none;
      }
    }
  }
}


@media (max-width: 600px) {
  .featured {
    .container {
      .left {
        .popular{
          display: none;
        }

        .search{

          flex-direction: column;
          gap: 10px;
          background-color: transparent;
          border-radius: 0;

          .searchInput{
            width: 70vw;
            border-radius: 8px;
            background-color: white;
            input{
              width: 90%;
            }
          }
          button{
            border-radius: 8px;
            width: 70vw;
          }
        }
      }
    }
  }
}
